*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
    color: aliceblue;
    border-bottom: 1px solid #ddd;

}
#img{
    border-radius:30px;
    width:60px;
    height:50px;
}
.search{
    display: flex;
    align-items: center;
    background: #f3f3f3;
    padding: 5px 10px;
    border-radius: 20px;
}